<!DOCTYPE HTML>
<html>
  <head>
    <script src = https://cdn.jsdelivr.net/npm/vue/dist/vue.js></script>

<header>
    
      <iframe 	width="560" 	height="315" 	src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      
      
      
      <iframe 

src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3538.612683183114!2d153.1

4369351472325!3d-	
27.512418525107137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915c4971d4940
1%3A0x1969b2a66a83fe6!2sBasketball%20Queensland!5e0!3m2!1sen!2sau!4v1596971249272!5m
2!1sen!2sau" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" ariahidden="false" tabindex="0"></iframe> 

 <link rel = "stylesheet" type = "text/css" href = "styles.css" href="styles.css">
 
 
 
    </header> 
 
    <body> 
    
  
      <div id="nav" class="nav"> 
          <a id="nav" href="index.html">Home</a> 
          <a id="nav" href="about.html">About </a> 
          <a id="nav" href="conta.html">Contact </a> 
          <a id="nav" href="sear.html">Search </a> 
          <a id="nav" href="javascript:void(0);" onclick="loginWindow()">Login
/Register</a> 
                  <a id="nav" class="icon" href="javascript:void(0);" onclick="resizeN av()"></a> 
      </div> 
      
<h1>Kangaroo Plumbing Services</h1>
<p>
  (555) 555-55-5555
  
</p>
<script src="https://unpkg.com/vue@next"></script>

 <div id="customemit">
      <component-custom @count="count++"></component-custom>
      <p>{{count}}</p>
    </div>
    <script>
      const customemit = Vue.createApp({
        data() {
          return {
            count: 0
          };
        }
      });
      customemit.component("component-custom", {
        emits: ["count"],
        template: `
          <div>
            <button @click='$emit("count")'>click button</button>
          </div>`
      });
      customemit.mount("#customemit"); 
      
      //slots
      </script>
      
     
      <navigation-link url="/index">
        Text </navigation-link>
<a v-bind:href="url"
  class="nav-link" >
  <slot></slot>
</a>
  

<keep-alive>
<component v-bind:is="currentTabComponent"></component>
</keep-alive>




    <script src="https://unpkg.com/vue@2"></script>
    
  
    <div id="keepalivedynamic">
      <button
        v-for="tab in tabbs"
        v-bind:key="tab"
        v-bind:class="['tab-button', { active: currentTab === tab }]"
        v-on:click="currentTab = tab"
      >
        {{ tab }}
      </button>

      <keep-alive>
        <component v-bind:is="OpenTab" class="tab"></component>
      </keep-alive>
    </div>

    <script>
      Vue.component("tab-posts", {
        data: function() {
          return {
            posts: [
              {
                id: 1,
                title: "Where is she",
                content:
                  "<p>Get to the choppa</p>"
              },
              {
                id: 2,
                title: "Wrong",
                content:
                  "<p>I lied</p>"
              },
              {
                id: 3,
                title: "Put that cookie down",
                content:
                  "<p>Now</p>"
              }
            ],
            selectedPost: null
          };
        },
        template: `
  	<div class="posts-tab">
      <ul class="posts-sidebar">
        <li
          v-for="post in posts"
          v-bind:key="post.id"
          v-bind:class="{ selected: post === selectedPost }"
					v-on:click="selectedPost = post"
        >
          {{ post.title }}
        </li>
      </ul>
      <div class="selected-post-container">
      	<div
        	v-if="selectedPost"
          class="selected-post"
        >
          <h3>{{ selectedPost.title }}</h3>
          <div v-html="selectedPost.content"></div>
        </div>
        <strong v-else>
          Click on a blog title to the left to view it.
        </strong>
      </div>
    </div>
  `
      });

      Vue.component("tab-archive", {
        template: "<div>Archive component</div>"
      });

      new Vue({
        el: "#keepalivedynamic",
        data: {
          currentTab: "Posts",
        tabbs: ["Posts", "Archive"]
        },
        computed: {
          OpenTab: function() {
            return "tab-" + this.currentTab.toLowerCase();
          }
        }
      });
    </script>
  


