<!DOCTYPE HTML>
<html>
  <head>
    <script src = https://cdn.jsdelivr.net/npm/vue/dist/vue.js></script>

<header>
      <!--Logo image linking back to homepage--> 
      <center><a href="index.html">
        <img src="toilet.jpg" style="width:26vw;min-width:300px"></img></a></center> 
      <iframe 	width="560" 	height="315" 	src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      
      
      
      <iframe 

src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3538.612683183114!2d153.1

4369351472325!3d-	
27.512418525107137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915c4971d4940
1%3A0x1969b2a66a83fe6!2sBasketball%20Queensland!5e0!3m2!1sen!2sau!4v1596971249272!5m
2!1sen!2sau" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" ariahidden="false" tabindex="0"></iframe> 

    </header> 
 
    <body> 
    
      <!--Navigation bar--> 
      <div id="nav" class="nav"> 
          <a id="nav" href="index.html">Home</a> 
          <a id="nav" href="about.html">About </a> 
          <a id="nav" href="conta.html">Contact </a> 
          <a id="nav" href="sear.html">Search </a> 
          
          <a id="nav" href="javascript:void(0);" onclick="loginWindow()">Login
/Register</a> 
          <!--Drop-down menu icon - visibility dependent on screen size-->           <a id="nav" class="icon" href="javascript:void(0);" onclick="resizeN av()"><img class="icon" src="whistlewhite.png"></img></a> 
      </div> 
      
<h1>Kangaroo Plumbing Services</h1>
<h3> Welcome to the company of toilet fixing </h3> 
<p style="color:black;font-size: 17px"> Is your toilet working good? Yes? Well that's not our problem. We are coming to you. Hide your toilets,  the Kangaroo Plumbing Services is the...</p>
<p style= "color:purple"> <i>  The best service in town </i> </p>
      
      <script>
var app6 = new Vue({
  el:"#app6"
data: {
  return {
    checked: '',
  }
},

  )}
  </script>
  
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>

<script>

let lower = "text";
let upper= lower.toUpperCase();
  
let randombs= "vgjtdeyvsrghgdxvyfbjgsatvhyfxbkogdscrhvs";
let stringlength = randombs.length;
let str = "Blueberry, Cherry, Strawberry";
let part = str.slice(4, 7);

let str2 = "Azulberry, Mejoberry, Steamberry";
let part2 = str2.substring(9, 17);

let text2 = "Hello Dragonborn";
let newText = text2.replace("Hello", "Yol" );


let text3 = "Button";
let char = text.charCodeAt(0);

const planets = ["Earth", "Mars"];
const numbers = [1, 2, 3];
numbers.every()
function overzero(numbers) {
  return numbers > 0;
}

let lenght2 = numbers.length;
numbers.push(4);
numbers.reverse();
numbers.sort();

const datttte = new Date();
new Date(year)
datttte.toString();
datttte.toUTCString();
datttte.getMinutes();
datttte.getDay();
datttte.getMilliseconds();
datttte.getHours();
datttte.getMonth();


var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello World!'
  }
})


</script>

<center><a href="index.html">
        <img src="toilet.jpg" style="width:26vw;min-width:300px"></img></a></center> 
        <center> <p>This how a happy toilet looks</p></center>


    <style type = text/css>
     body {background-color: white;}
    </style>
    <link rel = "stylesheet" type = "text/css" href = "styles.css" href="styles.css">
    </head>
    <body>


<button type="button"
onclick="document.getElementById('tim').innerHTML = Date() ">
Click to order a service. We will come at.</button>
<p id="tim"></p>

<p id="scores"></p>
<script>
var x = 100;
 var y = 75;
 var z = 50;
 var sum = x + y + z;
 var avg = (x + y + z)/3;
 document.getElementById("scores").innerHTML = "avg is " + avg + " sum is " + sum + " y is " + y + " z is " + z + " x is " + x 
 </script>

<iframe 	width="560" 	height="315" 	src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
<center><p> We will never let you down</p></center>

<div id = "app" style = column-count:1>
<h2>When are you going to order a plumber???  </h2>
<ol>
  <li v-for="todo in todos">
    <input type="checkbox"
    v-on:change="toggle(todo)"
    v-bind:checked="todo.done">
    
    <del v-if="todo.done">
    {{ todo.text }}
    </del>
    <span v-else>
      {{ todo.text }}
    </span>
  </li>
  
  <h3>Do you need plumbers?</h3> 
          </div>  
          
          <div class="row quiz"> 
            <center><form name="quiz" onsubmit="return checkQuiz()">               
              <br><label for="true">Yes</label> 
              <input type="radio" id="true"  name="answer" value="true"> 
              <br><label for="true">Yes</label> 
              <input type="radio" id="false"  name="answer" value="false"> 
              <br><input type="submit" value="Check Answer"> 

  
</ol>
<input placeholder="Add routine items"
v-model="newItem"
@keyup.enter="addItem">
</div>
<script>
new Vue({
  el:"#app",
  
data: {
   todos: [
   {text: "Tomorrow", done:false},
   {text: "Next year", done:false},
   {text: "Now", done:true}
   ]
   },
   
   methods: {
     toggle: function(todo){
       todo.done =!todo.done
     },
     addItem: function (newItem){
       var value =this.newItem && this.newItem.trim()
       this.todos.push({
         text:value,
         done:false})
         this.newItem="";
     }
   }
      
       })
   </script>
 
</body>
</html>